/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #202020;
}

.logo {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 25px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover {
    color: #ff9800;
}

/* HEADER */
.header {
    background: #ff9800;
    padding: 60px 20px;
    text-align: center;
    color: white;
}

.header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

/* PRODUK */
.produk {
    padding: 40px;
    text-align: center;
}

.produk-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    border: 1px solid #ddd;
    width: 220px;
    padding: 15px;
}

.card img {
    width: 100%;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    color: #ff9800;
    font-weight: bold;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #202020;
    color: white;
    margin-top: 40px;
}
