/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #1b1b1b;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 25px;
}

.menu a {
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
}

.menu a:hover {
    color: #ff9900;
}

/* HEADER */
.header {
    background: #ff9900;
    text-align: center;
    padding: 60px 20px;
    color: #fff;
}

.header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

/* JENIS ALAT MUSIK */
.jenis {
    padding: 40px;
    text-align: center;
}

.jenis-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.jenis-card {
    background: #f3f3f3;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.jenis-card h3 {
    margin-bottom: 10px;
}

/* PRODUK */
.produk {
    padding: 40px;
    text-align: center;
}

.produk-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    width: 220px;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    color: #ff9900;
    font-weight: bold;
}

/* FOOTER */
footer {
    background: #1b1b1b;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}
